<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../cards/ícone.png">
    <title>Pontos Turísticos Oceania</title>
    <link href="../cards/estilo_cards.css" type="text/css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="tudo">
        <div class="ponto um">
            <img class="image"
                src="https://images.adsttc.com/media/images/5037/e2fe/28ba/0d59/9b00/0241/newsletter/stringio.jpg?1414218779"
                alt="Ópera de Sydney">
            <h2>Ópera de Sydney</h2>
            <p>A casa da Ópera de Sydney, também conhecida como Teatro de Sydney, é um dos <b>edifícios de espetáculo
                    mais marcantes em nível mundial</b>, e <b>um dos símbolos da Austrália</b>, localizada na cidade de
                Sydney. A construção, projetada por Jørn Utzon, começou em 1959 e está localizada sobre a Baía de Sydney
            </p>
        </div>

        <div class="ponto dois">
            <img class="image"
                src="https://southcanterbury.org.nz/wp-content/uploads/bb-plugin/cache/Aoraki-Mount-Cook-Mackenizenz-Mackenzie-District-South-Canterbury-New-Zealand-landscape.jpg"
                alt="Monte Cook">
            <h2>Monte Cook</h2>
            <p>O Monte Cook/Aoraki, cujo nome oficial é Mount Cook/Aoraki, é
                <b>uma montanha nos Alpes do Sul no centro da Ilha Sul, e a mais alta montanha da Nova Zelândia</b>.
                Destino
                popular entre turistas, é também um <b>destino favorito para os montanhistas aventureiros</b>.
            </p>
        </div>

        <div class="ponto tres">
            <img class="image"
                src="https://www.tom-archer.com/wp-content/uploads/2018/01/how_to_photograph_glow_worms-6.jpg"
                alt="Waitomo Glowworm Caves">
            <h2>Waitomo Glowworm Caves</h2>
            <p>A atração Waitomo Glowworm Caves é uma caverna em Waitomo, na Ilha Norte da Nova Zelândia. <b>É conhecida
                por sua população de <i>Arachnocampa</i> luminosa, uma espécie de vaga-lume encontrada exclusivamente na Nova
                Zelândia</b>.</p>
        </div>
    </div>

    <a href="/principal"><button id="voltar">Voltar ao MapCont</button> </a>
</body>

</html>