<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../cards/ícone.png">
    <title>Pontos Turísticos Antártida</title>
    <link href="../cards/estilo_cards.css" type="text/css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="tudo">
        <div class="ponto um">
            <img class="image"
                src="https://conteudo.imguol.com.br/blogs/263/files/2021/03/cb3d5255c08fb26a64391186ea.jpg"
                alt="Cachoeiras de sangue">
            <h2>Cachoeiras de sangue</h2>
            <p>É uma <b>escorrência de água salgada colorida por óxido de ferro</b>, que ocorre na
                extremidade da <b>geleira de Taylor</b> e que dispersa sobre a superfície do lago Bonney, nos vales
                secos de
                McMurdo. <b>Apresenta água três vezes mais salgada que o a água dos oceanos</b>, oriundo de um lago
                desprovido
                de qualquer forma de luz por milhões de anos.</p>
        </div>

        <div class="ponto dois">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Mt_erebus.jpg"
                alt="Monte Érebo">
            <h2>Monte Érebo</h2>
            <p>O monte Érebo ou monte Erebus é um <b>estratovulcão que se localiza na Antártida</b>, na ilha de Ross.
                Tem quase
                3 800 metros de altitude e <b>continua ativo continuamente desde 1972</b>. Liberta vários jatos de
                vapor. Já
                foram encontrados <b>vestígios de lava no gelo da ilha de Ross</b>. É atualmente o mais ativo vulcão da
                Antártida.</p>
        </div>

        <div class="ponto tres">
            <img class="image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Bransfield_1.jpg/250px-Bransfield_1.jpg"
                alt="Estreito de Bransfield">
            <h2>Estreito de Bransfield</h2>
            <p>É a <b>parte do oceano Glacial Antártico que se encontra entre as ilhas Shetland do
               Sul, ao norte, e a península Antártica, ao sul</b>. O estreito é denominado <b>Mar de la Flota</b>
               pelos
               argentinos. Possui cerca de 100 km de largura e 300 km de extensão. Foi batizado por James Weddell em
               homenagem a Edward Bransfield, cartógrafo das ilhas Shetland do Sul em 1820.
            </p>
        </div>
    </div>

    <a href="/principal"><button id="voltar">Voltar ao MapCont</button> </a>
</body>

</html>