<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../cards/ícone.png">
    <title>Pontos Turísticos África</title>
    <link href="../cards/estilo_cards.css" type="text/css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="tudo">
        <div class="ponto um">
            <img class="image"
                src="https://media.activitiesbank.com/49561/ENG/XL/VICTORIA%20FALLS%20-%20COMBINED%20ZIM%20%26%20ZAM.jpg"
                alt="Cataratas de Vitória">
            <h2>Cataratas de Vitória</h2>
            <p>As cataratas de Vitória ou quedas de Vitória são <b>uma das mais espetaculares quedas d'água do
                    mundo</b>.
                Situam-se no rio Zambeze, na fronteira entre a Zâmbia e o Zimbabwe, e têm cerca de 1,5 km de largura e
                altura máxima de 128 m. <b>Ao saltar, o Zambeze mergulha na garganta de Kariba e atravessa várias
                    cataratas basálticas</b>.</p>
        </div>

        <div class="ponto dois">
            <img class="image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Mt._Kilimanjaro_12.2006.JPG/1200px-Mt._Kilimanjaro_12.2006.JPG"
                alt="Kilimanjaro ">
            <h2>Kilimanjaro</h2>
            <p>É a maior montanha da África, localizada no norte da
                Tanzânia, junto à fronteira com o Quênia, com uma altura de 5.895m. O Kilimanjaro é <b>protegido por um
                parque designado Parque Nacional do Kilimanjaro</b>, <b>classificado pela UNESCO como Patrimônio da Humanidade</b>.
            </p>
        </div>

        <div class="ponto tres">
            <img class="image"
                src="https://images.memphistours.com/large/1490776354_Morocco-Hassan-Mosque-Morocco-Wallpaper.jpg"
                alt="Mesquita de Haçane II">
            <h2>Mesquita de Haçane II</h2>
            <p>Com uma parte erguida sobre as águas do Atlântico, a mesquita Hassan II, <b>é a segunda
                maior do mundo e um dos mais importantes cartões-postais de Casablanca</b> . <b>Obra-prima da arquitetura árabe</b>,
                possui uma sala de orações com 20 mil metros quadrados e capacidade para 25 mil fiéis. Seu minarete, o
                mais alto do mundo, tem 200 metros.</p>
        </div>
    </div>

    <a href="/principal"><button id="voltar">Voltar ao MapCont</button> </a>
</body>

</html>