<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../cards/ícone.png">
    <title>Pontos Turísticos Ásia</title>
    <link href="../cards/estilo_cards.css" type="text/css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="tudo">
        <div class="ponto um">
            <img class="image"
                src="https://img.freepik.com/fotos-premium/taj-mahal-ao-nascer-do-sol-local-de-visita-da-india-agra_400112-862.jpg?w=2000"
                alt="Taj Mahal">
            <h2>Taj Mahal</h2>
            <p>O Taj Mahal é um <b>mausoléu</b> situado em Agra, na Índia, sendo o mais conhecido dos monumentos do
                país.
                Encontra-se <b>classificado pela UNESCO como Patrimônio da Humanidade</b>. Foi anunciado em 2007 como
                <b>uma das
                    sete maravilhas do mundo moderno</b>, também conhecido como a <b>maior prova de amor do mundo</b>.
            </p>
        </div>

        <div class="ponto dois">
            <img class="image" src="https://canalhistoria.pt/wp-content/uploads/2019/12/08121987.jpg"
                alt="Grande Muralha da China">
            <h2>Grande Muralha da China</h2>
            <p>Grande Muralha da China é uma <b>série de fortificações feitas de pedra, tijolo, terra compactada,
                    madeira e
                    outros materiais</b>, construída ao longo de uma linha leste-oeste através das fronteiras
                históricas do norte da China para <b>proteger os Estados e impérios chineses contra as invasões de
                    vários
                    grupos nômades</b>.</p>
        </div>

        <div class="ponto tres">
            <img class="image"
                src="https://www.visitsingapore.com/see-do-singapore/recreation-leisure/resorts/marina-bay-sands/_jcr_content/par-carousel/carousel_detailpage/carousel/item_1.thumbnail.carousel-img.740.416.jpg"
                alt="Marina Bay Sands">
            <h2>Marina Bay Sands</h2>
            <p>Em frente ao moderno jardim botânico, fica o hotel Marina Bay Sands, que se transformou em um grande
                ponto turístico de Singapura. O complexo do hotel é espetacular, <b>tem cassino, um shopping de excelente
                qualidade e muitos restaurantes; sua arquitetura é deslumbrante</b>, já que suas três torres se conectam
                através de uma cobertura localizada no 57º andar.</p>
        </div>
    </div>

    <a href="/principal"><button id="voltar">Voltar ao MapCont</button> </a>
</body>

</html>