
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="mapa.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../home/estilo.css"/>
    <title>MapCount</title>
</head>

<body>
    <div id="cima">
        <b><h1 id="logo">MapCont</h1></b>
        <p id="vGeral">Visão Geral</p>
        <button id="btnMapCont"><a href="./src/mapCount.html">Abrir MapCont</a></button>
    </div>

    <div id="corpo">
        <h1 id="titulo">EXPLORE O MUNDO</h1>
        <p id="subtitulo">E seus continentes</p>
    </div>

    <button id="btnSistemaSolar">Ir para Sistema Solar</button>
</body>

</html>