body {
    display: table;
    width: 100%;
    height: 100vh;
    background: url('mapa_principal.jpg') no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    font-family: 'Poppins', 'Arial';
}

#americaSul {
    margin-top: 55vh;
    margin-left: 29vw;
}
#americaNorte {
    margin-top: 21vh;
    margin-left: 16vw;
}
#americaCentral {
    margin-top: 40vh;
    margin-left: 20vw;
}
#africa {
    margin-top: 45vh;
    margin-left: 53vw;
}
#asia {
    margin-top: 20vh;
    margin-left: 70vw;
}
#antartida {
    margin-top: 93vh;
    margin-left: 45vw;
}
#oceania {
    margin-top: 63vh;
    margin-left: 86vw;
}
#europa {
    margin-top: 18vh;
    margin-left: 56vw;
}

.btn {
    position: fixed;
    border: none;
    background-color: transparent;
    color: #FAF1A1;
    font-size: 20px;
    font-weight: bold;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:hover{
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.content{
    display: none;
    background-color: #faf1a1d7;
    border-radius: 15px;
    height: 90vh;
    width: 70vw;
    margin-top: 5vh;
    margin-left: 15vw;
    position: absolute;
}

img{
    width: 70vw;
    height: 50vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p {
    margin: 10px;
}

.title{
    color: #46690C;
    font-size: 40px;
    font-weight: bold;
    margin: 1.25vw;
    margin-bottom: 0.3vw;
}

.x {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 99;
    margin: 20px;
    margin-left: 67vw;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 50%;
}

.x:hover {
    cursor: pointer;
}

h2{
    padding: 3px;
    margin: 3px;
    color: #213009;
    font-size: 20px;
}

.clima_Veg{
    height: 200px;
    width: 15vw;
    margin-left: 1.25vw;
    margin-right: 1.25vw;
    float: left;
}
.pop_Area{
    height: 200px;
    width: 15vw;
    margin-left: 1.25vw;
    margin-right: 1.25vw;
    float: right;
}

#btnPontoTuristico{
    background-color:#45690c41;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
    padding: 5px;
    position: absolute;
    margin: 15px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#btnPontoTuristico:hover {
    background-color: #213009;
    color: white;
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}