body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(11, 4, 82);
  }
     
.tudo {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.ponto {
    background-color: #faf1a1d7;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 300px;
    transition: all 0.3s ease-out;
}

.ponto:hover {
    transform: translateY(-8px);
}
  
.image {
    float: top;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.image:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: zoom-in;
}
  
.um {
    border-left: 3px solid #4895ff;
}
     
.dois {
    border-left: 3px solid #b3404a;
}

.tres {
    border-left: 3px solid #4db340;
}

#voltar {
    background-color: #FAF1A1;
    font-size: 16px;
    font-family: 'Poppins';
    border-radius: 3px;
    border: none;
    width: 220px;
    height: 40px;
    padding: 5px;
    position: absolute;
    bottom: 30px;
    right: 100px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#voltar:hover {
    background-color: white;
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}