body {
    display: table;
    width: 100%;
    height: 100vh;
    background: url('mapa_principal.jpg') no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    font-family: 'Poppins', 'Arial';
}

#americaSul {
    margin-top: 55vh;
    margin-left: 29vw;
}
#americaNorte {
    margin-top: 21vh;
    margin-left: 16vw;
}
#americaCentral {
    margin-top: 40vh;
    margin-left: 20vw;
}
#africa {
    margin-top: 45vh;
    margin-left: 53vw;
}
#asia {
    margin-top: 20vh;
    margin-left: 70vw;
}
#antartida {
    margin-top: 93vh;
    margin-left: 45vw;
}
#oceania {
    margin-top: 63vh;
    margin-left: 86vw;
}
#europa {
    margin-top: 18vh;
    margin-left: 56vw;
}

.btn {
    position: fixed;
    border: none;
    background-color: transparent;
    color: #FAF1A1;
    font-size: 20px;
}

.btn:hover{
    cursor: pointer;
}

.content{
    display: none;
    background-color: #FAF1A1;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    margin-left: 80%;
    margin-right: 15px;
    margin-top: 50px;
    position: absolute;
}

img{
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p {
    margin: 10px;
}

.title{
    color: #46690C;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.x {
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 99;
    margin: 20px;
    margin-left: 85%;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 50%;
}

.x:hover {
    cursor: pointer;
}